body {
    background-color: #000000;
}

#container{
    background-color: rgb(255, 255, 255);
    width: 320px;
    margin: 140px auto;
    padding: 20px;
    height: 400px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #000000;
    border-radius: 10px;
}

.message{
    margin-top: -10px;
    padding-left: 10px;
}

input[type="text"]{
    margin-top: 50000000px;
    width: 300px;
    background-color: rgba(215, 219, 219, 0.932);
    height: 40px;
    border-radius: 5px;
    margin-top: 0px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    outline: 0px;
    border: 1px;
}

input[type="password"]{
    width: 300px;
    background-color: rgba(215, 219, 219, 0.932);
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    outline: 0px;
    border: 1px;
}

input[type="password"]::placeholder, input[type="text"]::placeholder{
    color: rgb(0, 0, 0);
}

input[type="password"]:focus, input[type="text"]:focus{
    outline: 0;
    color: rgb(12, 7, 7);
    border: 2px solid #000000cc;
}

form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta-button{
    height: 45px;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #000000;
    border-radius: 3px;
    padding-left: 117px;
    margin-top: 20px;
}

.cta-button:hover{
    color: rgb(73, 250, 250);
    background: rgb(10, 17, 10);
    box-shadow: 0 0 5px rgb(73, 250, 250), 0 0 40px rgb(73, 250, 250), 0 0 40px ;
    transition-delay: 0.1s;
}

.message-option{
    color: rgb(117, 117, 122);
    font-size: 15px;
    margin: -15px;
    margin-left: 50px; 
    margin-top: 20px;
}

.div-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px -30px 0px -90px;
}

.line{
    height: 1px;
    background-color: rgb(196, 183, 183);
    width: 6%;
    padding-right: 5px;
    align-items: center;
}

.divisor-tag{
    font-weight: bold;
    margin: 0 2.5%;
}

button{
    margin-top: -90px;
    height: 40px;
    text-align: left;
    font-size: 17px;
    margin-left: 10px;
    width: 300px;
    border-radius: 3px;
    border: 0px;
    color: #ffffff;
    padding-left: 42px;
    border-radius: 3px;
    cursor: pointer;
    border: 20px;
    display:flex;
    align-items: center;
}


.btn-twitter{
    margin-top: 40px;
    background-color: rgb(60, 188, 248); 
}

.btn-twitter:hover{
    color: #ffffff;
    background: rgb(73, 179, 250);
    box-shadow: 0 0 5px rgb(73, 179, 250), 0 0 40px rgb(73, 179, 250), 0 0 40px ;
    transition-delay: 0.1s;
}

.btn-facebook{
    margin-top: 20px;
    background-color:rgb(8, 4, 192);
}

.btn-facebook:hover{
    color: #ffffff;
    background: rgb(8, 4, 192);
    box-shadow: 0 0 5px rgb(8, 4, 192), 0 0 40px rgb(8, 4, 192), 0 0 40px;
    transition-delay: 0.1s;
}

.btn-instagram{
    margin-top: 12px;
    padding-left: -15px;
    background: linear-gradient(90deg, rgb(150, 2, 150)0%, rgb(236, 6, 6));
}

.logo-insta{
    height: 35px;
    padding-left: 15px;
    margin-top: -37px;
    display: flex;
    cursor: pointer;
    box-shadow: rgb(150, 2, 150);
    transition-delay: 0.1s;
}

.trav {
    font-size: 25px;
    margin-bottom: 5px;
    padding-left:-5px;
}

.texto {
    padding-left: 6px;
}

a {
    text-decoration: none;
}

.logo-face {
    height: 35px;
    padding-left: 12px;
    margin-top: -37px;
    display: flex;
    cursor: pointer;
}

.logo-twitter {
    height: 23px;
    padding-top: 5px;
    padding-left: 20px;
    margin-top: -37px;
    display: flex;
    cursor: pointer;
}

.btn-instagram:hover{
    color: #ffffff;
    background: linear-gradient(90deg, rgb(150, 2, 150)0%, rgb(236, 6, 6));
    box-shadow: 0 0 5px rgb(150, 2, 150), 0 0 40px rgb(150, 2, 150), 0 0 40px;
    transition-delay: 0.1s;
}